.box2{
    border-radius: 10px;
    background-color: #fff;
    width: 400px;
    padding:20px;
    flex-direction: column;
}

input[type=text],input[type=password],input[type=submit],.box2>button{
    padding:10px 5px;
    width:100%;
    margin:10px 0;
    outline: none;
    border: none;
}
input[type=text],input[type=password],input[type=email]{
    border:1px solid black;
    border-radius:10px;
}
.registerSub{
   background-color:rgb(13, 168, 13) !important;
   color: #fff;
   border-radius: 10px;
   font-weight: 600;
   letter-spacing: 2px;
}
input[type=text]:focus,input[type=password]:focus{
    border:1px solid green;
    border-radius: 10px;
}
.box2>button{
    border-radius: 10px;
    background-color: rgb(13, 168, 13);
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;   
}
.fullname{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.fullname>input[type=text]:nth-child(1){
 margin-right: 20px;
}
.dropdown{
    width: 31%;
    padding:7px;
    outline: none;
    border-radius: 10px;
}
.radioBtn{
    padding:10px 0;
    width:25%;
}