.leftSidebar{
    width: 26%;
    padding: 10px;
    overflow-y: scroll;
}
.scrollbar{
    height: 350px;
    text-align: start;
    padding-left: 10px;
}

.list>li{
    list-style: none;
    padding: 15px 0;
}
.list>li>span{
    font-size:1rem;
    font-weight: bold;
    margin-left: 20px;
}
